
<div class="wrapper">
    <div class="main">
        <p class="sign">Sign up</p>
        <form class="form1" [formGroup]="regform" (ngSubmit)="onSubmit()"> 
            <input class="id" type="text" placeholder="Email" formControlName="email">
            <input class="un" type="text" placeholder="Username" formControlName="name">
            <input class="pass" type="text" placeholder="Password" formControlName="password">
            <button class="submit" typr="submit">Sign up</button>
            <p class="forgot"><a href="#">Forgot Password?</a></p>
            <p class="login"><a routerLink="/login">Login</a></p>
        </form>
    </div>
</div>